<ion-view view-title="报表条件">

    <ion-nav-buttons side="left">
        <div class="button button-clear" ng-click="goback()">
            返回
        </div>
    </ion-nav-buttons>

    <ion-content>

        <ion-list>

            <div class="item item-input" ng-repeat="condition in conditions | orderBy: 'xuhao' ">
                <span class="input-label">{{condition.mingcheng}}</span>

                <div ng-if="condition.tjleixing == '区间'">

                    <div ng-switch="condition.sjleixing">
                        <div ng-switch-when="varchar(4000)">
                            <div class="row">
                                <input type="text" ng-model="condition.moren1" placeholder="{{condition.id}}">
                                <input type="text" ng-model="condition.moren2" placeholder="{{condition.id}}">
                            </div>
                        </div>

                        <div ng-switch-when="datetime">
                            <div class="row">
                                <ionic-datepicker input-obj="datepickerObject">
                                    <button class="button button-clear button-positive" ng-click="openDateDialog(condition, 'moren1')"> {{condition.moren1 | date:'yyyy/MM/dd'}}</button>

                                </ionic-datepicker>
                                <ionic-datepicker input-obj="datepickerObject">
                                    <button class="button button-clear button-positive" ng-click="openDateDialog(condition, 'moren2')"> {{condition.moren2 | date:'yyyy/MM/dd'}}</button>
                                </ionic-datepicker>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-if="condition.tjleixing != '区间'">

                    <div ng-switch="condition.sjleixing">
                        <div ng-switch-when="varchar(4000)" class="row">

                            <input type="text" ng-model="condition.moren1" placeholder="{{condition.id}}">
                            <button class="button button-clear" ng-click="openAutoComplete(condition)"><i class="icon ion-ios-search-strong"></i></button>
                        </div>
                        <div ng-switch-when="datetime">
                            <div class="row">
                                <ionic-datepicker input-obj="datepickerObject">
                                    <button class="button button-clear button-positive"> {{condition.moren1 | date:'yyyy/MM/dd'}}</button>
                                </ionic-datepicker>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ion-list>
        <div class="padding">
            <button class="button button-block button-positive" ng-click="queryReport()">
                查询
            </button>
        </div>
    </ion-content>
    <!--
    <div class="bar bar-footer bar-positive" ng-click="searchReport()">
        <button class="button button-clear title">搜索</button>
    </div> -->
</ion-view>