<ion-view view-title="用户登录" hide-nav-bar="true">
    <ion-content>


        <div class="padding text-center" style="margin-top: 5em">
            <div class="app-icon"></div>
            <p class="real-gray">细心呵护您的业务</p>
        </div>
        <br>
        <div class="list">

            <ion-md-input type="text" ng-model="user.username" placeholder="用户名" highlight-color="balanced"></ion-md-input>
            <ion-md-input type="password" ng-model="user.password" placeholder="密码" highlight-color="balanced"></ion-md-input>

        </div>
        <div class="padding">
            <button class="button button-block" style="color: white; text-space: 1em; border-size: 2px; background-color: #4F72C9 !important;" ng-click="signIn(user)">
                登录
            </button>
            <!--
            <p class="text-center">
                <a class="button button-clear button-balanced" href="tel: 17721308697">登录遇到问题</a>
            </p>
            -->
        </div>
    </ion-content>
</ion-view>
