<ion-view view-title="选择报表">
    <ion-content>

        <div class="pending">
            <ion-list style="margin-top: 5px;">
                <ion-item collection-repeat="type in types"
                          collection-item-height="itemHeight"
                          collection-item-width="'33%'"
                          href="#/searchreport/{{type.id}}" style="font-size: .8em; text-align: center;">

                    <p class="text-center">
                        <i class="{{type.icon}} {{type.customColor}}" style="font-size: 2em;"></i>

                    <div class="row">
                        {{type.mingcheng}}
                    </div>
                    </p>


                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>