<ion-view view-title="消息">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats | orderBy: 'xuhao' " type="item-text-wrap" ng-click="showSingleChatList(chat)">
        <img ng-src="{{chat.face}}">

        <span class="badge badge-assertive" ng-if="chat.xsl > 0">{{chat.xsl}}</span>

        <h2>{{chat.fsr}}</h2>
        <p>{{chat.zxxiaoxi}}</p>

      </ion-item>
    </ion-list>

    <div class="list" ng-if="!chats || chats.length == 0" style="vertical-align: middle !important;">
      <br><br><br><br><br><br>
      <div class="row">
        <div class="col col-25"></div>
        <div class="col col-50">

        </div>
        <div class="col col-25"></div>
      </div>
      <div class="row" style="margin-top: 1rem;">
        <div class="col col-25"></div>
        <div class="col col-50" style="text-align: center; color: #D8D8D8; font-size: 1rem">
          暂无消息
        </div>
        <div class="col col-25"></div>
      </div>
    </div>
  </ion-content>
</ion-view>
