<ion-modal-view>
    <ion-header-bar>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeAutoCompleteDialog()">关闭</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <ion-refresher
                pulling-text="下拉加载下一页"
                on-refresh="doRefresh()">
        </ion-refresher>
        <div class="item item-input-inset">
            <label class="item-input-wrapper">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="关键字" name="inputValue" ng-model="keywordCondition.name">
            </label>
            <a ng-disabled=" !keywordCondition.name || keywordCondition.name === ''" class="button button-small" ng-click="searchOptionsWithKeyword()">搜索</a>
        </div>
        <div class="row">

        </div>
        <div class="row">
            <div class="col" ng-show="currentOptionsType == 'leibie'">
                <ion-list>
                    <ion-item class="item-remove-animate item-icon-right" ng-repeat="option in options" style="padding-left : 10px !important;  min-height: 50px !important;"
                              type="item-text-wrap" ng-click="showSecondLevelOptionsOrCloseDialog(option)">
                        {{option.mingcheng}}
                        <i class="icon ion-chevron-right icon-accessory"></i>

                        <ion-option-button class="button-calm" ng-click="searchFinalOptions(option)">
                            查看
                        </ion-option-button>
                    </ion-item>
                </ion-list>
            </div>
            <div class="col">
                <ion-list>
                    <ion-item class="item-remove-animate item-icon-right" ng-repeat="option in options" type="item-text-wrap" ng-click="showSecondLevelOptionsOrCloseDialog(option)">
                        {{option.mingcheng}}
                        <i class="icon ion-chevron-right icon-accessory"></i>
                    </ion-item>
                </ion-list>
            </div>

        </div>
    </ion-content>
</ion-modal-view>