<ion-modal-view>
    <ion-header-bar class="bar-balanced">
        <div class="buttons">
            <button class="button button-clear" ng-click="closeDetailDialog()">取消</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <ion-refresher
                pulling-text="下拉加载下一页"
                on-refresh="searchOptionsWithKeyword(true)">
        </ion-refresher>
        <div class="item item-input-inset">
            <label class="item-input-wrapper">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="关键字" name="inputValue" ng-model="keywordCondition.name">
            </label>
            <a ng-disabled=" !keywordCondition.name || keywordCondition.name === ''" class="button button-small balanced-border" ng-click="searchOptionsWithKeyword()">搜索</a>
        </div>

        <div class="row">
            <div class="col" ng-show="currentOptionsType == 'leibie'">
                <ion-tree-list ng-click="showSecondLevelOptionsAndLoadOptions($event)" items="optionTreeObject" collapsed="collapse" template-url="{{customTemplate}}"></ion-tree-list>
            </div>
            <div class="col">
                <ion-list>
                    <ion-item class="item-remove-animate item-icon-right" ng-repeat="option in options" type="item-text-wrap" ng-click="showSecondLevelOptionsOrCloseDialog(option)">
                        {{option.mingcheng}}
                        <i class="icon ion-chevron-right icon-accessory"></i>
                    </ion-item>
                </ion-list>
            </div>

        </div>

        <div class="list" ng-if="!options || options.length == 0" style="vertical-align: middle !important;">
            <br><br><br><br><br><br>
            <div class="row">
                <div class="col col-25"></div>
                <div class="col col-50">

                </div>
                <div class="col col-25"></div>
            </div>
            <div class="row" style="margin-top: 1rem;">
                <div class="col col-25"></div>
                <div class="col col-50" style="text-align: center; color: #D8D8D8; font-size: 1rem">
                    没有查询结果
                </div>
                <div class="col col-25"></div>
            </div>
        </div>
    </ion-content>
</ion-modal-view>