<ion-modal-view>

    <ion-header-bar>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeDetailDialog('1')">取消</button>
        </div>
        <h1 class="title">{{title}}详情</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="assignSingleDetail()">确定</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <ion-list>

            <div class="item item-input" ng-repeat="childCondition in tableDeinination.zibiaogeshi | orderBy: 'xuhao'">

                <span class="input-label">{{childCondition.mingcheng}}</span>

                <input type="text" ng-model="childCondition.morenzhi" placeholder="{{childCondition.id}}">

                <button style="margin-right: 5px;" class="button button-clear" ng-click="openAutoComplete(childCondition)" ng-show="childCondition.cankaodangan"><i class="icon ion-ios-search-strong"></i></button>

            </div>
        </ion-list>
    </ion-content>

</ion-modal-view>