/* Empty. Add your own CSS if you like */
.app-icon {
    background-color: #fff;
    background: url('../img/logo.png') center;
    background-size: cover;
    height: 130px;
    margin: 0 auto;
}

.sub-page-icon {
    font-size: 1em;
    text-align: center;
    vertical-align: bottom;
    overflow: visible !important;
}

.real-gray {
    color: #b2b2b2
}

.big-letter-spacing {
    letter-spacing: 3px;
    font-size: 1.1em
}

.letter-red-shadow {
    letter-spacing: 3px;
    text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
}

.linearBg2 {
    /* fallback */
    background-color: #1a82f7;

    background-repeat: repeat-x;

    /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1a82f7), to(#2F2727));

    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(top, #2F2727, #1a82f7);

    /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, #2F2727, #1a82f7);

    /* IE 10 */
    background: -ms-linear-gradient(top, #2F2727, #1a82f7);

    /* Opera 11.10+ */
    background: -o-linear-gradient(top, #2F2727, #1a82f7);
}

.radial-center {
    /* fallback */
    background-color: #2F2727;

    background-position: center center;
    background-repeat: no-repeat;

    /* Safari 4-5, Chrome 1-9 */
    /* Can't specify a percentage size? Laaaaaame. */
    background: -webkit-gradient(radial, center center, 0, center center, 460, from(#1a82f7), to(#2F2727));

    /* Safari 5.1+, Chrome 10+ */
    background: -webkit-radial-gradient(circle, #1a82f7, #2F2727);

    /* Firefox 3.6+ */
    background: -moz-radial-gradient(circle, #1a82f7, #2F2727);

    /* IE 10 */
    background: -ms-radial-gradient(circle, #1a82f7, #2F2727);

    /* Opera couldn't do radial gradients, then at some point they started supporting the -webkit- syntax, how it kinda does but it's kinda broken (doesn't do sizing) */
}
