/* Empty. Add your own CSS if you like */

.sub-page-icon {
    font-size: 1em;
    text-align: center;
    vertical-align: bottom;
    overflow: visible !important;
}

.real-gray {
    color : #b2b2b2
}